html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #801f80; 
    background: -webkit-linear-gradient(to right, #276e97,  #177ff5ee);  
    background: linear-gradient(to right, #276e97, #177ff5ee); 
    font-size: 1.6rem;
}


h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: white;
    font-size: 4rem;
}
h2 {

}
h3 {
    font-family: 'Staatliches', cursive;
    color:#801f80; 
    font-size: 2.4rem;
}
.btn {
    font-size:1.4rem;
}
.fecha-alta {
    font-family: 'Staatliches', cursive;
    color: #801f80; 
    font-weight: bold;
    font-size: 2rem;
}
.contacto p {
    font-size: 1.2rem;
    margin: 0;
}
.list-group-item:hover {
    background: white;
}
form {
    border-radius: .3rem;
}